body {
  /* Reseting the default here */
  margin: 0;
}

#article_wrapper {
  position: relative;
  background-color: grey;
  height: 100vh; /* Length of the interactive scroll article */
}

#canvas_wrapper {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
}
